
/* Reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition:0.5s all ease;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  transition:0.5s all ease;
  user-select: none;
}
body{
  background-color:#f5f5ee;
}
.headings {

  background-color: rgb(255, 102, 0);
 
   color: #fff;
  font-weight:550;
}
.section-wrap{
   display: flex;
   
}
.section-wrap  .info {
   padding: 2px 0 2px 10px;
  
  word-break: break-word;
  text-align: center;
  display: flex;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
 
  
}
.info-group .info{
  width:80px;
  justify-content: center;
}
.headings  .info > span {
  align-self: flex-end;
}

.section-wrap  .spread {
  flex-grow: 1;
  text-align: left;
}
.section-wrap .info-group{
  display:flex;
  
}
.info.content{
  display:block;
}
.news{
  display:flex;
}
.news>aside{
  display:flex;
  font-size: 8pt;
  align-self:flex-end
}
.news>aside>div{
  padding:0 4px 0 0;
   color:grey;
   white-space: nowrap;
}
.news .title{
  font-size: 12pt;
 
  padding:0 2px 0 0
}

.news .author{
 color:#000;
  
}
.news .hide>span{
 color:#000;
  
}
.news-item:nth-child(even){
  background-color: #e5e5de;
}
.news-item:nth-child(odd){
  background-color: #f5f5ee;
}
.news-item .info-group{
  align-items:center;
  margin-top:4px;
}
.vote-controll,.hide{
  cursor: pointer;
}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#000;
	font-size:1em;
}
a:visited{
  color:#db8418;
}
a:hover{
	color:rgb(255, 102, 0);
}
a:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}

a:after{
  bottom:-0.25em;
}
a:before,a:after{
  height:5px;
  height:0.1rem;
  width:0;
  background: rgb(255, 102, 0);
}

a:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a:hover:after{
  width:100%;
}

nav.pagination{
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  
  background: #f5f5ee;
}
nav.pagination>a{
  font-weight: bold;
    padding-right: 5px;
    border-right: 1px solid rgb(255, 102, 0);
    margin-right: 5px;
    color: rgb(255, 102, 0);
    cursor: pointer;
}
nav.pagination>a:last-child{
  border-right:none;
}
nav.pagination>a[disabled]{
  color:grey;
  pointer-events: none;
}
hr{
  border:3px solid rgb(255, 102, 0);

}
@media only screen 
  and (min-width: 0px) 
  and (max-width: 1250px) 
  {
    .news{
      flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    }
    .section-wrap .info-group {
     
      flex-direction: column;
  }
  .info-group .info{
    width:40px;
  }
  .headings{

   display: none;
  }
  nav.pagination>a{
    flex-grow: 1;
    text-align: center;
    font-size: 25px;
    width: 50%;
  }
  .news aside{
    flex-wrap: wrap;
  }

}
/* Absolute Center Spinner */
.loading svg{
  position: fixed;
  z-index: 9999;
  
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background:#212121;
      opacity:0.5
}


.notfound-wrap {
  position: relative;
  height: 100vh;
}

.notfound-wrap .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url('https://colorlib.com/etc/404/colorlib-error-404-18/img/emoji.png');
  background-size: cover;
}

.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
      -ms-transform: scale(2.4);
          transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}

.notfound h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #151723;
}

.notfound p {
  font-family: 'Nunito', sans-serif;
  color: #999fa5;
  font-weight: 400;
}

.notfound a {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}

.logo{
  background-color: rgb(255, 102, 0);
  border-bottom: 1px solid white;
  display: flex;
}
.logo>a{
  margin-left: 10px;
  margin-top: 4px;
}
.logo>div{
  font-weight: bolder;
    margin-left: 5px;
    font-size: 1.2em;
    align-self: center;
}



